@import "../../style/config.scss";

header {
  position: relative;
  z-index: $header_z;
  width: 100%;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/images/Pattern.png") center center no-repeat;
  background-size: 60% auto;
}

.inner {
  transition-property: all;
  transition-duration: 300ms;
}

.dot_pattern {
  width: 80%;
}

.message {
  p {
    color: white;
    background-color: $magenta;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    padding: 0 16px;
    position: relative;
    &:nth-child(1) {
      left: -16px;
    }
    &:nth-child(2) {
      left: 16px;
    }
  }
}

h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: 20px;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
    text-shadow: 4px 4px 0 #000;
  }

  .MAHOU {
    color: white;
  }

  .MAKE {
    color: #FEF400;
  }
}