@import "./header.scss";

.frame{
  @media screen and (max-width: 480px) {
    min-height:900px;
  }
}

// Override
.message {
  p {
    color: white;
    background-color: black;
  }
}

h1 {
  font-size: 80px;
  line-height: 94px;
  margin-bottom: 64px;
  @media screen and (max-width: 480px) {
    font-size: 64px;
    line-height: 72px;
  }

  p {
    text-shadow:none;
  }

  .MAHOU {
    color: black;
  }

  .MAKE {
    color: black;
  }
}